# Hand Gesture Module
WEEK-04/Hand_Gesture_Module

# Eye & Head Movement Module
WEEK-04/Eye-Head-Movement-Module-main

# Generic virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Windows
desktop.ini